<h1> <%= current_user.username %> </h1>

<p>Location: <%= current_user.state %>, <%= current_user.city %> </p>
<p>Trade Rating: <%= current_user.rating %> </p>


<div>
	<h2>My Posts</h2>

</div>

<div>
	<h2>Watching</h2>
	
</div>