<h1>Bass</h1>

<div>
	<%= link_to "Electric Bass", category_path(Category.find_by(name: 'ebass')) %>

</div>
<div>
	<%= link_to "Acoustic Bass", category_path(Category.find_by(name: 'abass')) %>

</div>