<h1>Guitars</h1>

<div>
	<%= link_to "Electric Guitars", category_path(Category.find_by(name: 'eguitar')) %>

</div>
<div>
	<%= link_to "Acoustic Guitars", category_path(Category.find_by(name: 'aguitar')) %>

</div>
<div>
	<%= link_to "Classical Guitars", category_path(Category.find_by(name: 'cguitar')) %>

</div>
<div>
	<%= link_to "Guitar Accessories", category_path(Category.find_by(name: 'guitaracc')) %>

</div>